
<div class="modal fade" id="EditPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeXl" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-x" role="document">
        <button hidden id="idEdit"></button>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Vocabulary</h5>
                <div class="col-right">
                    <button type="button" class="close mt-4" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-lg-6 col-form-label">WORD:<sup class="text-danger">*</sup></label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" name="wordEdit" id="wordEdit" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-6 col-form-label">ENGLISH MEANING:<sup class="text-danger">*</sup></label>
                            <div class="col-lg-6">
                                <textarea id="englishEdit" name="englishEdit" class="form-control" rows="5" style="margin-top: 0px; margin-bottom: 0px; height: 111px;"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-6 col-form-label">VIETNAMESE MEANING</label>
                            <div class="col-lg-6">
                                <textarea id="vietnameseEdit" name="vietnameseEdit" class="form-control" rows="5" style="margin-top: 0px; margin-bottom: 0px; height: 111px;"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-6 col-form-label">SPELLING</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" name="spellingEdit" id="spellingEdit" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary min-w-sm-100px font-weight-bold mr-2" id="btnEditVoca">Apply</button>
                <button type="button" class="btn btn-secondary  min-w-sm-100px font-weight-bold" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>